


<div class="html">


    <button class="card button" >
        <div class="row clearfix">
          <div class="left big">QNote</div>
          <div class="right"><p class="p"><span class="big">I</span>nnovation &amp; <span class="big">C</span>ulture</p><p class="p"><span class="med no-space">M</span><span class="small no-space">ergers and </span><span class="med no-space">A</span><span class="small no-space">cquisitions</span></p></div>
        </div>
        <div class="row">
          <p class="p"><span class="big">R</span>ohith <span class="big">S</span>urya</p>
          <p class="p"><a href="mailto: rohithsuri3@gmail.com" style="z-index: 12;">rohithsuri3@gmail.com</a></p>
        </div>
        <div class="row">
          <p class="p" style="visibility: hidden;"><span class="med" >358 E</span><span class="small">xchange </span><span class="med">P</span><span class="small">lace </span><span class="med">N</span><span class="small">ew </span><span class="med">Y</span><span class="small">ork</span><span class="med">, N. Y. 10099 F</span><span class="small">ax </span><span class="med">212 555 6390 T</span><span class="small">elex </span><span class="med">10 4534</span>
          </p>
        </div>
      </button> 






</div>
