<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">

            <img src="/assets/images/notes-icon.png" alt="" width="30" height="24">
            QNote</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
                <a [cdkCopyToClipboard]="note.noteData" class="bi bi-clipboard-fill"></a>
            </li>
        </ul>
    </div>

</nav>


<!-- <form #formType (ngSubmit)="onSubmit()"> -->
    <textarea #textNote type="text"  name="txtarea" [(ngModel)] = "note.noteData" (keyup)="onKeySearch($event)">
    </textarea>

    <!-- <button class="btn-primary"  type="submit">Submit</button> -->
<!-- </form> -->



