<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Seamless</h3>
        <p>A swift way to save and share bits of data with you're colleagues. All you need to do is share the URL and alas the content is in their hands.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Clean UI</h3>
        <p>With a user-friendly interface and easy navigation, the user decreases search time and increases satisfaction, fulfilling his needs in a fast and efficient way.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Secure</h3>
        <p><b>Coming soon</b>. We are planning bring in an authentication add-on for premium users. What's you're say? (let us know you're opinion via mail)</p>
      </div>
    </div>
  </div>
</div>
